body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 800px;
    background: white;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex flexbox;
    
}

.profile-container img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
    bottom: 50px;
    border-color: white;
    border: #f4f4f4;
    
}

h1 {
    margin: 10px 0;
    position: relative;
    bottom: 50px;
}

.studprof {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-style: normal;
}

.section {
    background: #2a6cad;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top: 20px;
    position: relative;
    bottom: 50px;
}

.content {
    text-align: left;
    padding: 15px;

}

.skills {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 15px;
    position: relative;
    bottom: 50px;
}

.skill {
    background: orange;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 15px;
    position: relative;
    bottom: 50px;
}

.myprof {
    background: #303030;
    color: white;
    padding: 10px;
    font-weight: normal;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;

}

p {
    position: relative;
    bottom: 50px;
}
